<%= render partial: "shared/user_header", locals: {user: current_user} %>

<div class="course-overview" xmlns="http://www.w3.org/1999/html">
  <% content_for :left_column do %>
    <%= render partial: '/institutions/sidebar', locals: {institution: @institution} %>
  <% end %>

  <% content_for :right_column do %>
  	
		<h2>Faculty Evaluations and Observations</h2>	
		<%= link_to "Manage Evaluation Templates", institution_evaluation_templates_path(@institution), class: "btn btn-monkey pull-right" %> <br /><br />

		<% if @evaluations && @evaluations.any? %>
			<table class="table faculty-table">
				<thead>
					<tr>
						<th>
							Teacher
						</th>
						<th>
							Evaluation Template
						</th>
						<th>
							Type
						</th>
						<th>
							Published
						</th>
						<th>
							Score
						</th>
					</tr>
				</thead>
				<tbody>
					<% @evaluations.each do |evaluation| %>
						<tr>
							<td><%= link_to evaluation.teacher.full_name, institution_evaluation_path(@institution, evaluation) %></td>
							<td><%= link_to evaluation.evaluation_template.name, [@institution, evaluation.evaluation_template] %></td>
							<td><%= evaluation.eval_type.capitalize if evaluation.eval_type %></td>
							<td><%= time_ago_in_words evaluation.created_at %> ago</td>
							<td><%= number_with_precision(@evaluation.calculate_score, :precision => 2) %>%</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			There are no evaluations yet.
		<% end %>
  <% end %>

</div>