<%= form_for @question, :html => {:class => "form-horizontal"} do |question| %>
		
	<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= question.label :title, :class => "control-label" %> 
    <div class="controls">
      <%= question.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= question.label :text, :class => "control-label" %> 
    <div class="controls">
      <%= question.text_area :text %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">     
      <%= question.submit "Submit" %>
    </div>
  </div>
<% end %>
