<table class="faculty-table table">
	<thead>
		<tr>
			<th>Faculty Member</th>
			<th>Title</th>
			<th></th>

		</tr>
	</thead>
		<tbody>
		<% faculty.each do |faculty| %>
			<tr id="user_<%= faculty.id %>">
				<td><%= link_to "#{faculty.full_name}", user_path(faculty) %></td>
				<td><%= faculty.profile_summary %></td>
				<td>

					<div class="btn-group">
					  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
					    <i class='icon-cloud-upload'></i> Add Observation
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<% if @institution.evaluation_templates.published.any? %>
					  		<% @institution.evaluation_templates.published.each do |template| %>
					    	<li>
					    		<%= link_to template.name, eval_user_path(faculty, eval_type: "observation", template_id: template.id) %>
					    	</li>
					    <% end %>
					  	<% else %>
					  		<li>No observation templates</li>
					  	<% end %>
					    
					  </ul>
					</div>				

					<div class="btn-group">
					  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
					    <i class='icon-file-alt'></i> Add Evaluation
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<% if @institution.evaluation_templates.published.any? %>
						    <% @institution.evaluation_templates.published.each do |template| %>
						    	<li>
						    		<%= link_to template.name, eval_user_path(faculty, eval_type: "evaluation", template_id: template.id) %>
						    	</li>
						    <% end %>
						  <% else %>
						  	<li>No evaluation templates</li>
						  <% end %>
					  </ul>
					</div>

					<span><%= link_to "<i class='icon-film'></i>".html_safe, videos_user_path(faculty), class:"upload-video btn btn-small btn-monkey", data: {toggle: "tooltip", title: "Upload Videos"} %>
					</span>
					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<!-- TODO: Add sorting on this table. Maybe filtering -->

