<% provide(:title, "Curriculum Mapping and Performance Development for Administrators ") %>

<div class="container-fluid" style="margin-top: 70px;">
	<div class="row-fluid span12">

		<div class="feature-div">
			<section class="section-content">
				<div class="inner-content">
					<header class="intro-content">
						<h1>Simple Tool. Incredible Results.</h1>
						<h3>Celebrate Success. One Observation at a Time.</h3>
					</header>
					<article>
						<div class="span6">
							<%= image_tag "img_screenshot_teacher_improvement.png", class: "feature-image" %>
						</div>
						<div class="span6">
							<p class="intro-paragraph">
								Swibat allows you to make and track observations from your phone, tablet, or computer. Help your teachers hone their strengths, coach areas of improvement, and celebrate success over time.
							</p>
							<%= link_to "Sign Up Free", request_trial_path, class:"btn btn-warning btn-large" %>
						</div>
					</article>
				</div>
			</section>
		</div>


		<div class="feature-div">
			<section class="section-content">
				<div class="inner-content">
					<header class="intro-content">
						<h1>Your School. Your Standards.</h1>
						<h3>Custom Observation Templates. Because You Know What Matters to You.</h3>
					</header>
					<article>
						<div class="span6">
							<p class="intro-paragraph">
								Every administration has it's own priorities. And your observations reflect that. So, we give you the flexibility to create your own, custom observation templates. <br/><br/>
								Not sure where to start? We include the Danielson and Marzano frameworks as templates out of the box. 
							</p>
							<%= link_to "Sign Up Free", request_trial_path, class:"btn btn-warning btn-large" %>
						</div>
						<div class="span6">
							<%= image_tag "img_screenshot_custom_template.png", class: "feature-image" %>
						</div>
					</article>
				</div>
			</section>
		</div>

		<div class="feature-div">
			<section class="section-content">
				<div class="inner-content">
					<header class="intro-content">
						<h1>Seeing is Believing.</h1>
						<h3>Record Lessons, Play them Back, & Share Feedback.</h3>
					</header>
					<article>
						<div class="span6">
							<%= image_tag "img_screenshot_teacher_video.png", class: "feature-image" %>
						</div>
						<div class="span6">
							<p class="intro-paragraph">
								Professional atheletes use video to review performance and find areas to improve. You can, too. <br/><br/>
								Record lessons on your phone or tablet and associate them, to the observation, and share them with teachers. Real-time commenting tools allow feedback to be a constructive, two-way conversation.
							</p>
							<%= link_to "Sign Up Free", request_trial_path, class:"btn btn-warning btn-large" %>
						</div>
					</article>
				</div>
			</section>
		</div>

	</div>
</div>