<div class="new-signup">

  <header class="lead-header">
    <h1>Sign Up</h1>
    <h3>(It's free)</h3>
  </header>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :institution, label:"School" %>
      <%= f.input :email %>

      <div class="two_column_input">
        <%= f.input :password %>
        <%= f.input :password_confirmation, label:"Confirm Password" %>
      </div>

      <%= f.hidden_field :role, value: "teacher" %>
      <%= f.button :submit %>

  <% end %>
  <%= render "devise/shared/links" %>


</div>

