<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Lesson Plans", "#"%></li>
  <li><%= link_to "Student Development Plans" %></li>
  <li><%= link_to "Classroom Observations", "#" %></li>
  <li><%= link_to "School Involvement", "#" %></li>
  <li><%= link_to "Peer Feedback", "#" %></li>
  <li><%= link_to "Parent Feedback", "#" %></li>
  <li><%= link_to "Student Feedback", "#" %></li>
  <li><%= link_to "Professional Development", "#" %></li>
</ul>