
<div class="row-fluid">
  <div class="span12">
    <h1 style="margin-bottom: 20px;">In classrooms today...</h1>
  </div>
</div>

<table class="table table-hover">

  <thead>
      <tr>
        <th>Teacher</th>
        <th>Class</th>
        <th>Lesson Objective</th>
        <th>Lesson Assessment</th>
        <th>Expected Completion</th>
        <th></th>
        <th>Last Observation</th>
      </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "Jesse Flores", "demo/teacher_overview", class:"no-decor"%></td>
        <td>Physics 1011</td>
        <td>Calculate Object Force</td>
        <td><%= link_to "Quiz", "#" %></td>
        <td>10/10/12 <span class="label label-important">Past Due</span></td>
        <td><%= link_to "Lesson Details", "demo/lesson_plan" %></td>
        <td>8/31/12</td>
      </tr>

      <tr>
        <td><%= link_to "Shannon Flores", "demo/teacher_overview", class:"no-decor"%></td>
        <td>Calculus 2</td>
        <td>Calculate 2nd Derivative</td>
        <td><%= link_to "Quiz", "#" %></td>
        <td>10/12/12</td>
        <td><%= link_to "Lesson Details", "demo/lesson_plan" %></td>
        <td>9/30/12</td>
      </tr>

      <tr>
        <td><%= link_to "Brian Moscona", "demo/teacher_overview", class:"no-decor"%></td>
        <td>Theology 2</td>
        <td>Love Jesus More</td>
        <td><%= link_to "Project", "#" %></td>
        <td>10/13/12</td>
        <td><%= link_to "Lesson Details", "demo/lesson_plan" %></td>
        <td>9/30/12</td>
      </tr>

      <tr>
        <td><%= link_to "Kyle Pietrantonio", "demo/teacher_overview", class:"no-decor"%></td>
        <td>Latin 2</td>
        <td>Something Esoteric</td>
        <td><%= link_to "Equally erudite", "#" %></td>
        <td>10/13/12</td>
        <td><%= link_to "Lesson Details", "demo/lesson_plan" %></td>
        <td>Not observed yet</td>
      </tr>

  </tbody>


</table>