<div class="field">	
		<%= f.label :accomplishment_type %>
		<%= f.select :accomplishment_type, {"Certificate" => "Certificate", "Award" => "Award" } %>    
		
		<%= f.label :name %>
		<%= f.text_field :name %>    
		
		<%= f.label :year %>
		<%= f.text_field :year, :class => 'input-small' %>    
	
		<%= link_to_remove_fields "remove", f, true %>	
</div>
