<% if @user.professional_educations.any? %>
    <header>
      <h2>Education</h2>
    </header>
      <% @user.professional_educations.each do |education| %>
        <section>
          <h3>
            <%= education.school_name %>
            <% if education.degree %>
              <%= ", #{education.degree}" %>
            <% end %>
          </h3>
          <% if education.enroll_date || education.graduation_date %>
               <p>
                  <%= education.enroll_date if education.enroll_date %> - 
                  <%= education.graduation_date if education.graduation_date %> 
               </p>
          <% end %>

          <% if education.field_of_study %>
            <p><%= education.field_of_study %></p>
          <% end %>


        </section>
    <% end %>
<% end %>