<%= provide(:title, "Evaluate #{@user.full_name}") %>

<%= render :partial => 'shared/user_header', locals: {user: @user} %>

<% content_for :left_column do %>
	
	<%= render 'users/teacher_sidebar_menu' %>
	
<% end %>

<% content_for :right_column do %>
	<% if can? :eval, @user %>
		<div class="btn-group">
		  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
		    <i class='icon-cloud-upload'></i> Add Observation
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		  	<% if @user.institution.evaluation_templates.published.any? %>
		  		<% @user.institution.evaluation_templates.published.each do |template| %>
		    	<li>
		    		<%= link_to template.name, eval_user_path(@user, eval_type: "observation", template_id: template.id) %>
		    	</li>
		    <% end %>
		  	<% else %>
		  		<li>No observation templates</li>
		  	<% end %>
		    
		  </ul>
		</div>				

		<div class="btn-group">
		  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
		    <i class='icon-file-alt'></i> Add Evaluation
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		  	<% if @user.institution.evaluation_templates.published.any? %>
			    <% @user.institution.evaluation_templates.published.each do |template| %>
			    	<li>
			    		<%= link_to template.name, eval_user_path(@user, eval_type: "evaluation", template_id: template.id) %>
			    	</li>
			    <% end %>
			  <% else %>
			  	<li>No evaluation templates</li>
			  <% end %>
		  </ul>
		</div>
		<br /><br />
	<% end %>
	
	<% if @evaluations && @evaluations.any? %>
		<table class="table faculty-table">
			<thead>
				<tr>
					<th>
						Teacher
					</th>
					<th>
						Published
					</th>
					<th>
						Score
					</th>
				</tr>
			</thead>
			<tbody>
				<% @evaluations.each do |evaluation| %>
					<tr>
						<td><%= link_to evaluation.teacher.full_name, institution_evaluation_path(@user.institution, evaluation) %></td>
						<td><%= time_ago_in_words evaluation.created_at %> ago</td>
						<td><%= number_with_precision(evaluation.calculate_score, :precision => 2) %>%</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="user-profile">
       <h3 class="sad-monkey">Sad. It doesn't look like <%= @user.first_name.titleize %> has had any evaluations yet.
       	<span><br/><%= link_to "Add One", eval_user_path(@user), class: "btn btn-monkey" if can? :eval, @user %></span>
       </h3>
    </div>
	<% end %>

	
<% end %>

<%= render 'layouts/two_column_partial' %>
