<%= provide(:title, "#{@evaluation.eval_type.capitalize} for #{@user.full_name}") %>

<% content_for :left_column do %>
	<%= render partial: 'users/admin_sidebar_menu', locals: {user: current_user} %>
<% end %>

<% content_for :right_column do %>

	<h1 class="page-title"><%= @evaluation.eval_type.capitalize %> for <%= @user.full_name %></h1>
	<%= form_for([@institution, @evaluation], url: institution_evaluations_path(@institution), :html => {:multipart => true}) do |f| %>
		<%= f.hidden_field :teacher_id %>
		<%= f.hidden_field :evaluation_template_id %>
		<%= f.hidden_field :eval_type %>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="50%"></th>
					<th class="eval">N/A</th>
					<th class="eval">Requires Action</th>
					<th class="eval">Progressing</th>
					<th class="eval">Proficient</th>
					<th class="eval">Exemplary</th>
				</tr>
			</thead>
			<tbody>
				
					<% @evaluation.evaluation_template.evaluation_domains.each do |domain| %>
						<tr class="domain-row">
							<td class="domain"><%= domain.name %></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<% domain.evaluation_criteria.each do |criterion| %>
							<tr class="subdomain-row">
								<td class="subdomain"><%= criterion.contents %></td>
								<td class="eval">
									<%= radio_button(:score, criterion.id, -1, checked: true) %>
								</td>
								<% (1..4).each do |i| %>
									<td class="eval">
										<%= radio_button(:score, criterion.id, i) %>
									</td>
								<% end %>
							</tr>
						<% end %>
					

				<% end %>
			</tbody>
		</table>
		<%= f.submit "Save Draft", class:"btn btn-monkey pull-left" %>
		<%= link_to "Publish", "#", class:"btn btn-monkey pull-right" %>
	<% end %>
<% end %>