<%= provide(:title, "Evaluate #{@user.full_name}") %>

<%= render :partial => 'shared/user_header', locals: {user: @user} %>

<% content_for :left_column do %>
  <% if current_user.school_admin? %>
    <%= render partial: 'users/admin_sidebar_menu', locals: {user: current_user} %>
  <% else %>
    <%= render partial: 'users/teacher_sidebar_menu', locals: {user: @user} %>
  <% end %>
<% end %>

<% content_for :right_column do %>
<h1 class="page-title">
	<i class="icon-laptop"></i> <%= @user.first_name %>'s Observations
	<span>

		<% if can? :eval, @user %>
			<div class="btn-group pull-right">
			  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
			    <i class='icon-cloud-upload'></i> Add Observation
			    <span class="caret white-caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			  	<% if @user.institution.evaluation_templates.published.any? %>
			  		<% @user.institution.evaluation_templates.published.each do |template| %>
			    	<li>
			    		<%= link_to template.name, eval_user_path(@user, eval_type: "observation", template_id: template.id) %>
			    	</li>
			    <% end %>
			  	<% else %>
			  		<li>No observation templates</li>
			  	<% end %>
			    
			  </ul>
			</div>				

			<div class="btn-group pull-right">
			  <a class="btn btn-small dropdown-toggle btn-monkey" data-toggle="dropdown" href="#">
			    <i class='icon-file-alt'></i> Add Evaluation
			    <span class="caret white-caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			  	<% if @user.institution.evaluation_templates.published.any? %>
				    <% @user.institution.evaluation_templates.published.each do |template| %>
				    	<li>
				    		<%= link_to template.name, eval_user_path(@user, eval_type: "evaluation", template_id: template.id) %>
				    	</li>
				    <% end %>
				  <% else %>
				  	<li>No evaluation templates</li>
				  <% end %>
			  </ul>
			</div>
			<br /><br />
		<% end %>
	</span>
</h1>
	
	<% if @evaluations && @evaluations.any? %>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>
						Teacher
					</th>
					<th>
						Published
					</th>
					<th>
						Score
					</th>
				</tr>
			</thead>
			<tbody>
				<% @evaluations.each do |evaluation| %>
					<tr>
						<td><%= link_to evaluation.teacher.full_name, institution_evaluation_path(@user.institution, evaluation) %></td>
						<td><%= time_ago_in_words evaluation.created_at %> ago</td>
						<td><%= number_with_precision(evaluation.calculate_score, :precision => 2) %>%</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="user-profile">
       <h3 class="sad-monkey">Sad. It doesn't look like <%= @user.first_name.titleize %> has had any evaluations yet.
       	<span><br/><%= link_to "Add One", eval_user_path(@user), class: "btn btn-monkey" if can? :eval, @user %></span>
       </h3>
    </div>
	<% end %>

	
<% end %>

<%= render 'layouts/two_column_partial' %>
