<%= provide(:title, "#{@user.full_name}'s Videos") %>

<% content_for :left_column do %>
  <% if current_user.school_admin? %>
    <%= render partial: 'users/admin_sidebar_menu', locals: {user: current_user} %>
  <% else %>
    <%= render partial: 'users/teacher_sidebar_menu', locals: {user: @user} %>
  <% end %>
 <% end %>

<% content_for :right_column do %>
<h1 class="page-title">
	<%= @user.first_name %>'s Videos
	<span class="pull-right">
		<%= link_to("Upload a new video", new_video_url(user_id: @user.id) , class: "btn btn-monkey header-button") if can? :upload, Video %> 	
	</span>
</h1>
<div ng-controller="UserCtrl">
	{{videos}}
	<br/><br/>
	Params: {{$route.current.params}}
	<br/><br/>
	Params Id: {{$route.current.params.id}}
	<br/>
	RouteParams: {{$routeParams}}
</div>

	<%= render partial: 'videos/collection', locals: {videos: @videos} %>
<% end %>


<!--TODO: Add searching on the videos -->

