<div class="span12 no-left-margin box height5" id="domain-<%= domain.id %>">
	<h3>Domain: <%= domain.name %>
		<span>
			<%= link_to "<i class='icon-trash'></i>".html_safe, institution_evaluation_template_evaluation_domain_path(@institution, @template, domain), method: :delete, remote: true, class:"btn btn-monkey delete-domain", confirm: "Are you sure?\nThis will delete the domain along with all it's criteria." %>
		</span>
	</h3>
	<ul id="criteria-list-<%= domain.id %>">
		<% domain.evaluation_criteria.each do |criterion| %>
			<%= render partial: "evaluation_criteria/evaluation_criterion", locals: {criterion: criterion, domain: domain} %>			
		<% end %>		
	</ul>	
	<p>
		<%= link_to "Add Criterion", new_institution_evaluation_template_evaluation_domain_evaluation_criterion_path(@institution, @template, domain), class:"btn btn-monkey", remote: true %>
	</p>
	<div id="criterion-form-<%= domain.id %>" style="display: none;"></div>
</div>