<% videos.each do |video| %>
  <div class="video-thumbnail">
    <div class="faculty-header">
      <h4><%= link_to video.title, video_path(video) %></h4>  
    </div>
    
    <%= link_to image_tag("http://img.youtube.com/vi/#{video.yt_video_id}/1.jpg"), video_path(video) %>
    <div class="video-options">
      <p><%= truncate(video.description, length: 100) %></p>
      <span>Uploaded: <%= time_ago_in_words(video.created_at) %> ago.</span>
      <div class="video-links">
        <%= link_to "<i class='icon-pencil'></i>".html_safe, edit_video_path(video), class: "btn btn-monkey" if can? :edit, @video %>
        <%= link_to "<i class='icon-trash'></i>".html_safe, video_path(video), :method => :delete, :confirm => "Are you sure?", class: "btn btn-monkey" if can? :delete, @video %>
      </div>  
    </div>
    
  </div>
<% end %>