<table class="table table-striped">  
  <% videos.each do |video| -%>
  <tr>
    <td>
      <%= link_to image_tag("http://img.youtube.com/vi/#{video.yt_video_id}/1.jpg"), video_path(video), class:'pull-left' %>
      <h3><%= link_to video.title, video_path(video) %></h3>
      <%= video.description %><br />
      Uploaded <%= time_ago_in_words(video.created_at) %> ago.
    </td>
    <td class="last">      
      <%= link_to "Edit", edit_video_path(video), class: "btn btn-monkey" %>
      <%= link_to "Delete", video_path(video), :method => :delete, :confirm => "Are you sure?", class: "btn btn-monkey" %>
    </td>
  </tr>          
  <% end -%>
</table>