<%= render 'shared/form_error_messages', object: @video %>

<div class="group">
  <%= f.label :title %>
  <%= f.text_field :title %> 
</div>

<div class="group">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="group">
  <%= f.label :lesson, "Which lesson is this associated with?" %>
  <%= f.select :lesson_id, @video.user.lessons.collect{ |l| [l.lesson_title, l.id] }, {:include_blank => 'Select a lesson'} %>
</div>

<div class="group">
  <%= f.label :observation, "Is this video associated with an observation?" %>
  <%= f.select :observation_id, @observations.collect{ |o| [o.created_at.strftime("%d %B %Y"), o.id] }, {:include_blank => 'Select an observation'} %>
</div>

<%= f.hidden_field :user_id %>
<div class="group">
  <%= f.label :tag_list, "Tags" %>
  <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)" %>
</div>


<div>
<% if @video.new_record?%>
  <button class="btn btn-monkey" type="submit">
     Step 2
  </button>
<%else%>
  <button class="btn btn-monkey" type="submit">
     Save
  </button>
<%end%>
<%= link_to "Cancel", videos_path, :class => "btn btn-monkey" %>
</div>

#TODO: Set up an index method similar to Courses where Videos can be filtered by tags
#TODO: Spinning UI, maybe a modal that says "Processing" so user has feedback that the video is being uploaded.