<div class="inner">
  <div class="row-fluid">
    <div class="span12">
			<h1>My friendships</h1>
			<p>
				<h2>Friends</h2>
				<% if @friendships.any? %>
					<table class="table table-striped">	
						<tr><th>Friend</th><th>Actions</th></tr>
						<% @friendships.each do |f| %>
							<tr>
								<td><%= link_to f.friend.full_name, f.friend %></td>
								<td><%= link_to "Unfriend", f, :method => :delete, class: "btn" %></td>
							</tr>
						<% end %>	
					</table>
				<% else %>
					You don't have any friends yet.
				<% end %>
			</p>
			<p>
				<h2>Received friend requests</h2>
				<% if @incoming_friend_requests.any? %>
					<table class="table table-striped">	
						<tr><th>From</th><th>Actions</th></tr>
						<% @incoming_friend_requests.each do |f| %>
							<tr>
								<td><%= link_to f.friend.full_name, f.friend %></td>
								<td>
									<%= link_to("Accept Friend Request", accept_friendship_path(f), :method => :post, class: "btn") %>	<%= link_to("Decline Friend Request", f, :method => :delete, class: "btn") %>
								</td>
							</tr>
						<% end %>	
					</table>
				<% else %>
					You don't have any incoming friend requests.
				<% end %>
			</p>
			<p>
				<h2>Sent friend requests</h2>
				<% if @sent_friend_requests.any? %>
					<table class="table table-striped">	
						<tr><th>To</th><th>Actions</th></tr>
						<% @sent_friend_requests.each do |f| %>
							<tr>
								<td><%= link_to f.friend.full_name, f.friend %></td>
								<td>
									<%= link_to "Revoke Friend Request", f, :method => :delete, class: "btn" %>
								</td>
							</tr>
						<% end %>	
					</table>
				<% else %>
					You don't have any unanswered friend requests.
				<% end %>
			</p>
		</div>
	</div>
</div>