<% provide(:title, "#{@lesson.lesson_title}") %>
<div class="row-fluid">
  <%= render 'shared/user_header' %>
  <div class="unit-header">
    <p class="calendar">
      <%= @lesson.lesson_start_date.strftime("%B %d") %> - <%= @lesson.lesson_end_date.strftime("%B %d, %Y") %>
    </p>
    <h2>
      <span>
        <%= link_to "#{@unit.course.course_name.titleize}", course_path(@unit.course), class:"disguised-header-link" %> / <%= link_to "#{@unit.unit_title.titleize}", course_unit_path(@course, @unit), class:"disguised-header-link" %> / <br/>
        <%= @lesson.lesson_title.titleize %>
      </span>
      <span>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_unit_lesson_path(@unit, @lesson), class:"edit-unit-lesson" if can? :edit, @lesson %>
      </span>
    </h2>
  </div>

  <div class="course-organizer">
    <div class="box-row">
      <div class="span12 box-bottom-margin">
        <div class="span6 box no-left-margin height7 standards">
          <h3>Standards Met</h3>
          <ul>
            <% @lesson.educational_standards.each do |standard| %>
              <li data-id="<%= standard.id %>" data-content="<%= standard.description%>" title="<%= standard.name %>"><%= standard.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="span6 box height7">
          <h3>Assessments</h3>
          <%= list_assessments(@lesson) %>
        </div>
      </div>

      <div class="span12 box-bottom-margin no-left-margin">
        <div class="span6 box no-left-margin height7" id="lesson_content">
          <h3>Content Covered
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, "#", class:"add-lesson-content" if can? :edit, @unit %>
            </span>
          </h3>
            <%= lesson_content(@lesson) %>
          <div id="lesson-content-form">
            <%= render 'form_lesson_content' %>
          </div>
        </div>

        <div class="span6 box height7" id="lesson_skills">
          <h3>Skills
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, "#", class:"add-lesson-skill" if can? :edit, @unit %>
            </span>
          </h3>
          <%= lesson_skills(@lesson) %>
          <div id="lesson-skills-form">
            <%= render 'form_lesson_skills' %>
          </div>
        </div>

      </div>

      <div class="span12 box box-bottom-margin no-left-margin height7" id="activities">
        <h3>Learning Strategies
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, "#", class:"add-new-activity" if can? :edit, @unit %>
            </span>
        </h3>
        <% if @lesson.activities.count > 0 %>
            <ul>
              <% @lesson.activities.each do |activity| %>
                  <li id="<%= dom_id(activity) %>">
                    <%= activity.activity %> - <%= activity.duration %>, <span><%= activity.agent %></span>
                    <span><%= link_to '<i class="icon-trash"></i>'.html_safe, [activity.lesson, activity], method: :delete, remote: true if can? :destroy, activity %></span>
                  </li>
              <% end %>
            </ul>
        <% end %>
        <div id="activity-form">
          <%= render 'form_activity' %>
          <%= link_to "Done Adding", "#", class:"remove-new-activity" %>
        </div>
      </div>

      <div class="span12 box-bottom-margin no-left-margin">
        <div class="span6 box no-left-margin height5">
          <h3>Resources</h3>
          <% if @lesson.resources.count == 0 %>
              <p>No resources have been added yet. <%= link_to "Add some.", edit_unit_lesson_path(@unit, @lesson) if can? :update, @lesson %></p>
          <% else %>
              <ul>
                <% @lesson.resources.each do |resource| %>
                    <li>
                      <% if resource.upload_file_name %>
                          <%= link_to resource.name, resource.upload.url, title: "Download resource" %>
                      <% else %>
                          <%= resource.name %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
          <% end %>
        </div>
        <div class="span6 box height5">
          <h3>Differentiation Strategies</h3>
        </div>
      </div>

    </div>
  </div>

  <div class="span12 no-left-margin">
    <header class="course-header">
      <h2>Comments</h2>
    </header>
    <section class="course-info">
      <%= render :partial => 'comments/comments', :locals => {:commentable => @unit} %>
    </section>
  </div>

</div>

<% content_for :sidebar do %>
    <%= content_for :sidebar_profile do %>
        <%= render 'shared/sidebar_profile' %>
    <% end %>

    <%= content_for :sidebar_invite do %>
        <%= render 'shared/sidebar_invite' %>
    <% end %>

    <%= content_for :sidebar_other_unit_lessons do %>
        <%= render 'shared/sidebar_other_unit_lessons' %>
    <% end %>

    <%= content_for :sidebar_related_lessons do %>
      <%= render 'shared/sidebar_related_lessons' %>
    <% end %> 

    <%= render 'layouts/application_sidebar' %>

<% end %>




