<div class="span12" id="course-summary">

  <header class="course-header top-margin">
    <div class="span12">
      <h2 class="breadcrumb-header"> <%= link_to "#{@unit.course.course_name.titleize}", course_path(@unit.course), class:"disguised-header-link" %> / <%= link_to "#{@unit.unit_title.titleize}", course_unit_path(@course, @unit), class:"disguised-header-link" %> / <br/>
        <%= @lesson.lesson_title.titleize %></h2>
    </div>
  </header>

  <section class="course-info">
    <header>
      <h2>Prior Knowledge <%= link_to "(edit lesson)", edit_unit_lesson_path(@unit, @lesson) if can? :update, @lesson %></h2>
    </header>
    <article>
      <p><%= @lesson.prior_knowledge.humanize %></p>
    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Lesson <%= "Objective".pluralize(@lesson.objectives.count) %></h2>
    </header>
    <article>
      <% if @lesson.objectives.count == 0 %>
        <p>No objectives? Boo. <%= link_to "Add some.", edit_unit_lesson_path(@unit, @lesson) if can? :update, @lesson %></p>
      <% else %>
          <ul>
            <% @lesson.objectives.each do |objective| %>
                <li><%= objective.objective.humanize %></li>
            <% end %>
          </ul>
      <% end %>

    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Lesson <%= "Assessment".pluralize(@lesson.assessments.count) %></h2>
    </header>
    <article>
      <% if @lesson.assessments.count == 0 %>
          <p>No assessments? For shame. <%= link_to "Add an assessment.", edit_unit_lesson_path(@unit, @lesson) if can? :update, @lesson %></p>
      <% else %>
          <ul>
            <% @lesson.assessments.each do |assessment| %>
                <li><%= assessment.assessment_name.humanize %></li>
            <% end %>
          </ul>
      <% end %>

    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Lesson <%= "Resource".pluralize(@lesson.resources.count) %></h2>
    </header>
    <article>
      <% if @lesson.resources.count == 0 %>
          <p>The only resource needed here is awesome teaching. <%= link_to "Add a resource.", edit_unit_lesson_path(@unit, @lesson) if can? :update, @lesson %></p>
      <% else %>
          <ul>
            <% @lesson.resources.each do |resource| %>
                <li>
                  <% if resource.upload_file_name %>
                    <%= link_to resource.name, resource.upload.url, title: "Download resource" %>
                  <% else %>
                    <%= resource.name %> 
                  <% end %>
                </li>
            <% end %>
          </ul>
      <% end %>

    </article>
  </section>

  <!-- TODO: Add a component for attributing lessons to core standards -->

  <header class="course-header">
    <h2>Lesson Activities</h2>
    <% if can? :update, @lesson %>
        <button class="btn btn-small btn-monkey pull-right"><a class="add-new-activity" href="#"><i class="icon-plus
        icon-white"></i></a></button>
    <% end %>
  </header>
  <section class="course-info">
    <div id="activities">
      <% if @lesson.activities.count == 0 %>
        <p>No activities planned for this lesson? Hmm... <% if can? :update, @lesson %><a class="add-new-activity" href="#">add some</a><% end %></p>
      <% else %>
          <table>
            <thead>
            <tr>
              <th class="large">Activity</th>
              <th>Duration</th>
              <th>Leading</th>
            </tr>
            </thead>
            <tbody>
            <% @lesson.activities.each do |activity| %>
              <%= render partial: "activities/activity", :locals => {activity: activity} %>                
            <% end %>
            </tbody>
          </table>
      <% end %>

    </div>
    <div id="activity-form">
      <%= render 'form_activity' %>
      <a class="remove-new-activity">Done Adding</a>
    </div>

  </section>

  <header class="course-header">
    <h2>Comments</h2>
  </header>
  <section class="course-info">
    <%= render :partial => 'comments/comments', :locals => {:commentable => @lesson} %>
  </section>

</div>

<% content_for :sidebar do %>
    <%= content_for :sidebar_profile do %>
        <%= render 'shared/sidebar_profile' %>
    <% end %>

    <%= content_for :sidebar_invite do %>
        <%= render 'shared/sidebar_invite' %>
    <% end %>

    <%= content_for :sidebar_other_unit_lessons do %>
        <%= render 'shared/sidebar_other_unit_lessons' %>
    <% end %>

    <%= content_for :sidebar_related_lessons do %>
      <%= render 'shared/sidebar_related_lessons' %>
    <% end %> 

    <%= render 'layouts/application_sidebar' %>

<% end %>




