

  <% content_for :right_column do %>
    <%= form_for @course do |course| %>
      <%= render 'shared/form_error_messages', object: course.object %>

    <div class="two-column-form">
      <%= course.label "What do you want to call this course?" %>
      <%= course.text_field :course_name, placeholder: "Course Title", id:"course_name", class: 'objectiveable-name', onblur: "retrieveSimilarObjectiveables('Course', 'name')" %>

      <%= course.label "What's it about?" %>
      <%= course.text_area :course_summary, placeholder:"Provide a summary like you might on a syllabus.", id:"course_summary", rows: 5%>

      <%= course.label "Semester" %>
      <%= course.select(:course_semester,[['Fall', 'Fall'], ['Spring', 'Spring'], ['Summer', 'Summer'], ['Winter','Winter']] ) %>

      <%= course.label "Year" %>
      <%= course.select :course_year, options_for_select((2012..2030).step(1).to_a.map{|y| ["#{y}", y]}) %>

      <%= course.label :grade_id, "What grade level are the students?" %>
      <%= course.collection_select(:grade_id, Grade.all, :id, :grade_level, options ={:prompt => "Grade"})  %>

      <%= course.label :subject_id, "Course subject?" %>
      <%= course.collection_select(:subject_id, Subject.all, :id, :subject, options ={:prompt => "Subject"}) %>

      <%= course.label :tag_list, "Tags" %>
      <%= course.text_field :tag_list, placeholder: "Tags (separated by commas)" %>

      <%= course.submit "Save Course", class:"btn btn-monkey" %>    
    </div>
    <% end %>
  <% end %>

  <% content_for :left_column do %>
  <div class="span3 two-column-form">
    
  </div>
  <% end %>
  
<%= render partial: 'layouts/two_column_partial' %>