<div class="accordion">
  <% @course.units.each do |unit| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapse_<%= unit.id  %>"><%= unit.unit_title.titleize %> (<%= pluralize((unit.lessons.count),
                                                                                                                                       'lesson') %>) </a>
          <% if can? :update, @course %>
              <a class="pull-right edit-course-unit" href="<%= course_unit_path(@course, unit) %>"><i class="icon-pencil pulled-icon"></i></a>
          <% else %>
              <a class="pull-right see-course-unit pulled-icon" href="<%= course_unit_path(@course, unit) %>"><i class="icon-search"></i></a>
          <% end %>
        </div>
        <div id="collapse_<%= unit.id %>" class="accordion-body collapse">
          <% unit.lessons.each do |lesson| %>
              <div class="accordion-inner">
                <%= lesson.lesson_title %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>