<h1><%= link_to @course.course_name, @course %> - Journal</h1>
<table class="table table-striped">
	<tr>
		<th>Lesson Title</th>		
		<th>Pros</th>
		<th>Cons</th>
	</tr>
	<% @course.units.each do |unit| %>
		<tr><td colspan="7"><h2><%= unit.unit_title %></h2></td></tr>
		<% unit.lessons.each do |lesson| %>
			<% if lesson.journal_entry %>
				<tr>
					<td><h3><%= lesson.lesson_title %></h3></td>
					<td><%= lesson.journal_entry.pros %></td>
					<td><%= lesson.journal_entry.cons %></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>

