<% provide(:title, "#{@course.course_name}") %>
<div class="row-fluid">
  <%= render 'shared/user_header' %>

  <header class="course-header">    
    <h1>Course: <%= best_in_place_if (can? :edit, @course), @course, :course_name %>
      <span>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_course_path(@course), class:"header-edit" if can? :edit, @course %>
        <a class="get-syllabus" href="<%= syllabus_course_path(@course) %>"><i class="icon-book"></i></a>
      </span>
    </h1>

    <h3><%= @course.grade.grade_level %>, <%= @course.course_semester %> <%= @course.course_year %></h3>
    <h3>Subject: <%= @course.subject.subject %></h3>
    <h3>Tags: <span><%= raw @course.tag_list.map {|t| link_to t, tag_courses_path(t), class:"tag_link"}.join(" ") %></span></h3>
  </header>

  <div class="course-organizer">
    <div class="box-row">
      <div class="span12 box box-bottom-margin">
        <h3>Course Summary</h3>
        <p><%= best_in_place_if (can? :edit, @course), @course, :course_summary, type: :textarea %></p>
      </div>

      <div class="span12 no-left-margin box-bottom-margin">
        <div class="span6 box height5">
          <h3>Standards Met:</h3>
          
        </div>
        <div class="span6 box height5">
          <h3>Course Goals</h3>
          <ul>
            <% @course.objectives.each do |objective| %>
                <li><%= objective.objective.humanize %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="span12 no-left-margin box-bottom-margin">
        <div class="span6 box height6 no-left-margin">
          <h3>Course Units
          <span>
            <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_unit_path(@course), class:"header-edit", id:"course-add-unit" if can? :edit, @course %>
          </span>
          </h3>
          <% if @course.units.count == 0 %>
              <p>No units have been added yet. <%= link_to "Add one now.", new_course_unit_path(@course) if can? :edit, @course %></p>
          <% else %>
              <ul>
                <% @course.units.each do |unit| %>
                    <li><%= link_to "#{unit.unit_title}", course_unit_path(@course, unit) %></li>
                <% end %>
              </ul>
          <% end %>
        </div>

        <div class="span6 box height6">
          <h3>Related Courses</h3>
        </div>

      </div>

    </div>
  </div>

  <div class="span12 no-left-margin">
    <header class="course-header">
      <h2>Comments</h2>
    </header>
    <section class="course-info">
      <%= render :partial => 'comments/comments', :locals => {:commentable => @course} %>
    </section>
  </div>
</div>

<% content_for :sidebar do %>

    <%= content_for :sidebar_profile do %>
      <%= render 'shared/sidebar_profile' %>
    <% end %>

    <%= content_for :sidebar_invite do %>
      <%= render 'shared/sidebar_invite' %>
    <% end %>

    <%= content_for :sidebar_other_user_courses do %>
      <%= render 'shared/sidebar_other_user_courses' %>
    <% end %>

    <%= content_for :sidebar_related_courses do %>
      <%= render 'shared/sidebar_related_courses' %>
    <% end %>  

    <%= render 'layouts/application_sidebar' %>

    <div class="sidebar">
      <header class="course-header">
        <h4>Fork this course!</h4>
      </header>
      <section>
        <p>Copy this course along with all its units and lessons into your own courses collection</p>
        <%= link_to "Fork Course", fork_course_path(@course), method: "post", class: "btn btn-monkey" %>
      </section>
    </div>
<% end %>



