<div class="row-fluid">
  <div class="span12">
  	<h1><%= @course.course_name %></h1>
  	<dl class="dl-horizontal">
  		<dt>Teacher</dt>
		  <dd><%= link_to @course.user.full_name, @course.user %></dd>
		  <dt>Semester</dt>
		  <dd><%= @course.course_semester %></dd>
		  <dt>Year</dt>
		  <dd><%= @course.course_year %></dd>
		  <dt>Summary</dt>
		  <dd><%= @course.course_summary %></dd>
		</dl>
  </div>
</div>

<%= render :partial => 'comments/comments', :locals => {:commentable => @course} %>
