<div class="span2">

  <%= generate_vote_form @course, vote_course_path(@course) %>
  <%= render :partial => 'flags/flag', :locals => {:resource => @course} if can? :flag, Flag %>
  <div class="favoritecount">
    <b></b>
  </div>
</div>
<div class="span10" id="course-summary">

  <header class="course-header top-margin">
    <div class="span8">
      <h2><%= @course.course_name.titleize %></h2>
    </div>
    <div class="span4">
      <h2 class="pull-right"><%= @course.grade.grade_level %>, <%= @course.course_semester %> <%= @course.course_year %></h2>
    </div>
  </header>

  <section class="course-info">
    <header>
      <h2>Course Summary <%= link_to "(edit course)", edit_course_path(@course), class:"header-edit" if can? :edit, @course %></h2>
    </header>
    <article>
      <p><%= @course.course_summary %></p>
    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Course Objectives</h2>
    </header>
    <article>
      <ul>
        <% @course.objectives.each do |objective| %>
            <li><%= objective.objective.humanize %></li>
        <% end %>
      </ul>
    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Standards Covered</h2>
    </header>
    <article>
    </article>
  </section>

  <header class="course-header">
    <h2>Units</h2>
    <% if can? :edit, @course %>
        <button class="btn btn-small btn-monkey pull-right"><a href="<%= new_course_unit_path(@course) %>"><i class="icon-plus icon-white"></i></a></button>
    <% end %>
  </header>
  <section class="course-info">
    <% if current_user? && @course.units.count == 0 %>
          <p class="top-margin">It doesn't look like you have any units. <%= link_to "Create one now.", new_course_unit_path(@course) if can? :edit, @course %></p>
    <% elsif @course.units.count == 0%>
          <p class="top-margin">Sad. It doesn't look like this user has created any courses yet.</p>
    <% else %>
        <%= render 'units_lessons_accordion' %>
    <% end %>
  </section>

  <header class="course-header">
    <h2>Comments</h2>
  </header>
  <section class="course-info">
    <%= render :partial => 'comments/comments', :locals => {:commentable => @course} %>
  </section>

</div>

<% content_for :sidebar do %>

    <%= content_for :sidebar_profile do %>
      <%= render 'shared/sidebar_profile' %>
    <% end %>

    <%= content_for :sidebar_invite do %>
      <%= render 'shared/sidebar_invite' %>
    <% end %>

    <%= content_for :sidebar_other_user_courses do %>
      <%= render 'shared/sidebar_other_user_courses' %>
    <% end %>

    <%= content_for :sidebar_related_courses do %>
      <%= render 'shared/sidebar_related_courses' %>
    <% end %> 

    <%= render 'layouts/application_sidebar' %>
<% end %>



