<% provide(:title, "#{@course.course_name} Unit Calendar") %>
<div class="row-fluid">
	<%= render partial: 'shared/user_header', locals: {user: @course.user} %>

	<header class="course-header">
		<%= render 'courses/course_header' %>
	</header>

	<table class="unit-calendar">
		<thead>
			<tr>
				<th>
					
				</th>
				<%		
					$start_month = @semester[@course.course_semester]
					$i = 0 
					while $i < 3  do
				%>
					<th><%= @months_helper[$start_month + $i] %></th>
				<% 		
						$i += 1
					end -%>
			</tr>
		</thead>
		<tr>
			<td>
				Unit Title
			</td>
			<%
				$i = 0
				while $i < 3  do %>
					<%= content_tag :td do %>
						
						<% 
						date = DateTime.new(@course.course_year, $start_month + $i + 1 ,1)
						puts date
						if @units_by_date[date].nil? then
						else
							@units_by_date[date].each do |unit| %>
								
								<%= link_to course_unit_path(@course, unit) do  %>
									<%= unit.unit_title %>
								<% end %>
								<br />
							<% end %>
						<% end -%>
						
					<% end -%>
				<% 
					$i += 1
				end -%>

		</tr>
		
		
		

	</table>	

	<%= javascript_tag do %>
		var data = d3.json('../1/unit_calendar.json', function(error, data){
			console.log(data.course_name);	
	});
		
	<% end -%>	





</div>

