<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			var properties = {
		    w: 650,
		    h: 300,
		    margin: {top: 20, right: 50, bottom: 100, left: 50},
		    formatPercent: d3.format("d"),
		    formatDecimal: d3.format(".2f")
		  }
		  
		  var data = $('#graph').data('chart');;
		  
		  function displayDomainBarChart(properties, data, type){
		    var width = properties.w - properties.margin.left - properties.margin.right,
		        height = properties.h - properties.margin.top - properties.margin.bottom;
		    data.forEach(function(d) {
		      d.score = +d.score;
		    });

		    // define the x scale
		    var x = d3.scale.ordinal()
		      .rangeRoundBands([0, width], .1)
		      .domain(data.map(function(d) { return d.name; }));    

		    // define the y scale
		    var y = d3.scale.linear()
		        .domain([0, 4])
		        .range([height, 0]);

		    // define the x axis
		    var xAxis = d3.svg.axis()
		        .scale(x)
		        .orient("bottom");

		    // define the y axis
		    var yAxis = d3.svg.axis()
		        .scale(y)
		        .orient("left")
		        .tickFormat(properties.formatPercent);

		    // remove previous graphs, if there are any
		    $('#graph').empty();

		    // create the graph
		    var svg = d3.select("#graph").append("svg")
		        .attr("width", width + properties.margin.left + properties.margin.right)
		        .attr("height", height + properties.margin.top + properties.margin.bottom)
		      .append("g")
		        .attr("transform", "translate(" + properties.margin.left + "," + properties.margin.top + ")");

		    // create the tooltip div
		    var tooltip = d3.select("body").append("div")   
		      .attr("class", "d3-tooltip")               
		      .style("opacity", 0);

		    // append the x axis to the graph
		    svg.append("g")
		        .attr("class", "x axis")
		        .attr("transform", "translate(0," + (height + 10) + ")")
		        .call(xAxis)
		          .selectAll("text")
		          .attr("transform", function(d) {
		              return "rotate(-10)" 
		          });         

		    // append the y axis to the graph
		    svg.append("g")
		        .attr("class", "y axis")
		        .call(yAxis)
		      .append("text")
		        .attr("transform", "rotate(-90)")          
		        .attr("y", 6)
		        .attr("dy", ".71em")
		        .style("text-anchor", "end")
		        .text("Score");

		    // add the data
		    svg.selectAll(".bar")
		        .data(data)
		      .enter().append("rect")
		        .attr("class", "bar")
		        .attr("x", function(d) { return x(d.name); })
		        .attr("width", x.rangeBand())
		        .attr("y", function(d) { return y(d.score); })
		        .attr("height", function(d) { return height - y(d.score); })
		        .on("mouseover", showTooltip)
		        .on("mouseout", function(d) {       
		          tooltip.transition()        
		              .duration(500)      
		              .style("opacity", 0);   
		        });;

		    function showTooltip(d){
		      tooltip.transition()        
		          .duration(200)      
		          .style("opacity", .9);      
		      tooltip .html('Domain: ' + d.name + "<br/> Average Score: "  + d.score)  
		          .style("left", (d3.event.pageX) + "px")     
		          .style("top", (d3.event.pageY - 28) + "px");    
		                     
		    }
		    
		  }

		  displayDomainBarChart(properties, data[0].domains, 'domain');    
		 
		  $('#chart-template-select').change(function(){
		  	var selected =  $("#chart-template-select option:selected" );
		  	var template_id = $(selected[0]).attr('value');
		  	var index = findIndexByTemplateId(template_id);
		  	displayDomainBarChart(properties, data[index].domains, 'domain');
		  });

		  function findIndexByTemplateId(template_id){
		  	for(var i = 0; i < data.length; i++){
		  		if ((data[i].template_id + '') == template_id){
		  			return i;  		
		  		}
		  	}
		  }

		});
	</script>
<% end %>

<% content_for :left_column do %>	
	
	<h1 class="page-title"><%= @user.full_name %>
		<span class="pull-right">
		<div class="btn-group">
		  <a class="btn btn-warning" ><i class="icon-plus icon-white"></i> Observation</a>
		  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <% if @institution.evaluation_templates.published.any? %>
          <% @institution.evaluation_templates.published.where(deleted: false).each do |template| %>
          <li>
            <%= link_to template.name, eval_user_path(@user, eval_type: "observation", template_id: template.id) %>
         </li>
        <% end %>
        <% else %>
          <li><%= link_to "Add Observation Template", institution_evaluation_templates_path(@institution) %>
          </li>
        <% end %>
		  </ul>
		</div>
			<%= link_to '<i class="icon-trash"></i> <i class="icon-user"></i>'.html_safe, remove_from_institution_user_path(@user), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger', title: 'Remove faculty member' %>
		</span>
	</h1>
	<div class="pull-right">
		Template: 	
		<select id="chart-template-select" class="input-xlarge">
			<%= @templates.each do |template| %>
				<option value="<%= template.id %>"><%= template.name %></option>
			<% end %>
		</select>
	</div>
	<div id="graph" data-chart="<%= @chart_data %>">
		This is where the bar graph will go. x-axis is score and y-axis is the domain. No chartjunk. To make computation simple, can filter b/w templates and cumulative vs most recent observations.
	</div>
	<h3>Observations</h3>
	<% @user.teacher_evaluations.each do |observation| %>
		<div class="summary-table">
			<h4>
				<%= link_to normal_date_format(observation.created_at), institution_evaluation_path(@user.institution, observation) %>
				<span class="pull-right">
					<a href="faculty_observation.html" class="btn btn-warning" title="Edit observation"><i class="icon-pencil"></i></a>
					<%= link_to '<i class="icon-trash"></i>'.html_safe, institution_evaluation_path(@user.institution, observation), method: :delete, confirm: 'Are you sure?',class: 'btn btn-danger', title: 'Delete observation' %>
					
				</span>
			</h4>
			<p>Observation Score: <%= number_with_precision(observation.calculate_score, :precision => 2) %></p>
		</div>		
	<% end %>

<% end %>

<% content_for :right_column do %>
	<%= render partial: 'sidebar' %>
<% end %>