<div class="accordion">
  <% @unit.lessons.each do |lesson| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapse_<%= lesson.id  %>"><%= lesson.lesson_title %></a>
          <% if can? :update, @unit %>
              <a class="btn btn-mini btn-monkey pull-right" href="<%= unit_lesson_path(@unit, lesson) %>"><i class="icon-pencil icon-white"></i></a>
          <% else %>
              <a class="btn btn-mini btn-monkey pull-right" href="<%= unit_lesson_path(@unit, lesson) %>"><i class="icon-search icon-white"></i></a>
          <% end %>
        </div>
        <div id="collapse_<%= lesson.id %>" class="accordion-body collapse">
          <% lesson.objectives.each do |objective| %>
              <div class="accordion-inner">
                <%= objective.objective %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>