<div class="span2">
  <%= generate_vote_form @unit, vote_unit_path(@unit) %>
  <%= render :partial => 'flags/flag', :locals => {:resource => @unit} if can? :flag, Flag %>
  <div class="favoritecount">
    <b></b>
  </div>
</div>
<div class="span10" id="course-summary">

  <header class="course-header top-margin">
    <div class="span12">
      <h2><%= link_to "#{@course.course_name.titleize}:", course_path(@course), class:"disguised-header-link" %><br/>
        <%= @unit.unit_title.titleize %></h2>
    </div>
  </header>

  <section class="course-info">
    <header>
      <h2>Prior Knowledge <%= link_to "(edit unit)", edit_course_unit_path(@course, @unit) if can? :update, @unit %></h2>
    </header>
    <article>
      <p><%= @unit.prior_knowledge %></p>
    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Unit <%= "Objective".pluralize(@unit.objectives.count) %></h2>
    </header>
    <article>
      <ul>
        <% @unit.objectives.each do |objective| %>
            <li><%= objective.objective.humanize %></li>
        <% end %>
      </ul>
    </article>
  </section>

  <section class="course-info">
    <header>
      <h2>Unit <%= "Assessment".pluralize(@unit.assessments.count) %></h2>
    </header>
    <article>
      <ul>
        <% @unit.assessments.each do |assessment| %>
            <li><%= assessment.assessment_name.humanize %></li>
        <% end %>
      </ul>
    </article>
  </section>

  <header class="course-header">
    <h2>Lessons</h2>
    <% if can? :update, @unit %>
        <button class="btn btn-small btn-monkey pull-right"><a id="add-lesson" href="<%= new_unit_lesson_path(@unit) %>"><i class="icon-plus icon-white"></i></a></button>
    <% end %>
  </header>
  <section class="course-info">
    <% if current_user? && @unit.lessons.count == 0 %>
        <p class="top-margin">It doesn't look like you have any lessons. <%= link_to "Create one now.", new_unit_lesson_path(@unit) %></p>
    <% elsif @unit.lessons.count == 0%>
        <p class="top-margin">Sad. It doesn't look like this user has created any lessons yet.</p>
    <% else %>
        <%= render 'lessons_activities_accordion' %>
    <% end %>
  </section>

  <header class="course-header">
    <h2>Comments</h2>
  </header>
  <section class="course-info">
    <%= render :partial => 'comments/comments', :locals => {:commentable => @unit} %>
  </section>

</div>

<% content_for :sidebar do %>
    <%= content_for :sidebar_profile do %>
          <%= render 'shared/sidebar_profile' %>
    <% end %>

    <%= content_for :sidebar_invite do %>
        <%= render 'shared/sidebar_invite' %>
    <% end %>

    <%= content_for :sidebar_other_course_units do %>
        <%= render 'shared/sidebar_other_course_units' %>
    <% end %>

    <%= content_for :sidebar_related_units do %>
      <%= render 'shared/sidebar_related_units' %>
    <% end %> 

    <%= render 'layouts/application_sidebar' %>

<% end %>



