<tr id="<%= dom_id(activity) %>">
  <td><%= activity.activity %></td>
  <td><%= activity.duration %></td>
  <td><%= activity.agent %></td>
  <td><%= link_to "delete", [activity.lesson, activity], method: :delete, remote: true %></td>
</tr>