<tr id="<%= dom_id(activity) %>">
  <td class="large"><%= activity.activity %></td>
  <td><%= activity.duration %></td>
  <td><%= activity.agent %></td>
  <td class="small"><%= link_to "delete", [activity.lesson, activity], method: :delete, remote: true %></td>
</tr>