<div class="course-overview" xmlns="http://www.w3.org/1999/html">
  <% content_for :left_column do %>
		<h1 class="page-title">
			Saved Templates 
			<span class="pull-right">
				<%= link_to '<i class="icon-plus"></i> Add Template'.html_safe, new_institution_evaluation_template_path(@institution), class: "btn btn-warning" %>
			</span>
		</h1>
		
		<% if @templates.any? %>
			<% @templates.each do |template| %>
				<div class="summary-table">
				<h4>
					<%= link_to template.name, [@institution, template] %>
					<span class="pull-right">
						<%= link_to "<i class='icon-pencil'></i>".html_safe, [@institution, template], class: 'btn btn-warning' %>
					</span>
					</h4>
				<p>Edited on <%= normal_date_format(template.updated_at) %></p>
				</div>	
			<% end %>
		<% end %>
  	
  <% end %>

  <% content_for :right_column do %>
   <%= render partial: 'evaluation_templates/sidebar' %>
  <% end %>
	
</div>






