<%= render partial: "shared/user_header", locals: {user: current_user} %>

<div class="course-overview" xmlns="http://www.w3.org/1999/html">
  <% content_for :left_column do %>
    <%= render partial: '/institutions/sidebar', locals: {institution: @institution} %>
  <% end %>

  <% content_for :right_column do %>
  	<h2>Evaluation Templates</h2>

		<% if @templates.any? %>
			<table class="faculty-table table">
				<thead>
					<tr>
						<th>Template Name</th>
						<th>Created</th>
						<th>Last modified</th>
						<th>Published</th>				
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @templates.each do |template| %>
						<tr>
							<td><%= link_to template.name, [@institution, template] %></td>
							<td><%= time_ago_in_words template.created_at %> ago</td>
							<td><%= time_ago_in_words template.updated_at %> ago</td>
							<td><%= template.published %></td>
							<td>
								<%= link_to "Edit", [@institution, template], class: 'btn btn-monkey' %>
								<%= link_to "Delete", [@institution, template], method: :delete, confirm: "Are you sure?", class: 'btn btn-monkey' %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>There are no evaluation templates created yet for this institution.</p>
		<% end %>
		<%= link_to "New Empty Template", new_institution_evaluation_template_path(@institution), class: "btn btn-monkey" %>
		<%= link_to "New Prepopulated Template", new_prepopulated_template_institution_evaluation_templates_path(@institution), class: "btn btn-monkey" %>
  <% end %>

  <%= render partial: "layouts/two_column_partial" %>
</div>






