<header class="navbar" id="application-header">
    <div class="row-fluid">
      <div class="span12">
        <!--
          <div class="logo">
            # link_to "#{current_user.full_name}", user_path(current_user), class: "application-header-brand"
          </div>-->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navdiv">
            <div class="nav-collapse collapse">
              <nav class="application-nav">
                <ul class="nav nav-pills">
                  <% if signed_in? %>
                        <li class=""><%= link_to "Your Profile", user_path(current_user) %></li>
                        <li><%= link_to "Feed", feed_courses_path %></li>
                  <% end %>
                  <li class=""><%= link_to "Courses", courses_path %></li>
                  <li class=""><%= link_to "Questions", questions_path %></li>
                  <li class="offset4"><%= link_to "Ask a Question", new_question_path, class:"btn btn-warning" %></li>
                </ul>
              </nav>
            </div>
          </div>
      </div>
    </div>
</header>


