  <form class="input-append" action="/search">
    <input type="text" class="input-medium" name="query" />
    <button type="submit" class="btn"><i class="icon-search"></i></button>
  </form>
  
  <%= yield :sidebar_profile %>

  <%= yield :sidebar_invite %>

  <%= render 'shared/sidebar_share_this' %>

  <%= yield :sidebar_other_user_courses %>

  <%= yield :sidebar_other_course_units %>

  <%= yield :sidebar_other_unit_lessons %>

  <%= yield :sidebar_related_courses %>

  <%= yield :sidebar_related_units %>

  <%= yield :sidebar_related_lessons %>

  <%= yield :sidebar_recent_questions %>



