<header class="navbar navbar-absolute-top">
  <div class="navbar-inner navbar-chalkboard">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="logo">
                <%= link_to "SWiBAT", root_path, class: "brand" %>
                <p>Professional Development. Tools for Educators.</p>
          </div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navdiv">
            <div class="nav-collapse collapse">
              <nav class="navmenu-chalkboard">
                <ul class="nav">
                  <li><%= link_to "Administrators", administrators_path %></li>
                  <li><%= link_to "Teachers", teachers_path %></li>
                  <li><%= link_to "Pricing", pricing_path %></li>
                  <li><%= link_to "Resources", resources_path %></li>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>