<% if current_user %>
<div class="sidebar-nav no-left-margin">
  <ul>
  	<% if current_user.role == 'school_admin' %>
	    <li><%= link_to "<i class='icon-group'></i> Faculty".html_safe, faculty_institution_path(current_user.institution) %></li>
	    <li><%= link_to "<i class='icon-file'></i> Templates".html_safe, institution_evaluation_templates_path(current_user.institution) %></li>
	  <% end %>
    <% if current_user.role == 'teacher' %>
    	<li><%= link_to "<i class='icon-file'></i> Observations".html_safe, institution_faculty_path(current_user.institution, current_user) %></li>
    <% end %>
    <li><%= link_to "<i class='icon-user'></i> Profile".html_safe, user_path(current_user) %></li>
    <li><%= link_to "<i class='icon-off'></i> Sign Out".html_safe, destroy_user_session_path, method: 'delete' %></li>
  </ul>
</div>
<% end %>