<nav class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
        <%= link_to "Swibat", root_path, class: "brand" %>
        <ul class="nav pull-right">
          <li class="<%= yield(:class_school) %>"><%= link_to "School Overview", root_path %></li>
          <li class="<%= yield(:class_teacher) %>"><%= link_to "Teacher Overviews", "/demo/teacher_overview" %></li>
          <li><%= link_to "Account", "#" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>


  </nav>
</nav>