<header class="navbar navbar-fixed-top">
  <div class="navbar-inner navbar-chalkboard">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="logo">
            <%= link_to "SWiBAT", root_path, class: "brand" %>
            <p>Professional Development. Tools for Educators.</p>
          </div>
          <nav class="navmenu-chalkboard">
            <ul class="pull-right nav">
              <li><%= link_to "Administrators", "#" %></li>
              <li><%= link_to "Teachers", "#" %></li>
              <li><%= link_to "Pricing", "#" %></li>
              <li><%= link_to "Account", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>