<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Swibat </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body class="padded <%= yield :body_class %>">
<div id="main" role="main">
  <div class="content">
    <%= render 'layouts/navbar' %>
    <div class="inner">
      <div class="row-fluid">
        <div class="span12">      
          <%= render 'layouts/messages' %>
        </div><!--end of .span12 -->
      </div><!--end of .row-fluid -->
    </div>
    <div class="inner">
      <%= yield %>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div><!--end of .content> -->
</div><!--end of .main> -->
</body>
</html>