<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_content' %>
  </head>
  <body class="padded">
    
    <div class="row-fluid">
      <!-- navbar -->
      <div class="span2 sidebar-nav no-left-margin">
        <%= render 'layouts/navbar' %>
      </div>
      <!-- end navbar -->
      <div class="span8 top-padded">
        <!-- Flash Messages -->
        <%= render 'layouts/messages' %>
        <!-- /Flash Messages -->
        <%= yield(:left_column) %>
      </div>

      <div class="span2 top-padded">
        <%= yield(:right_column) %>
      </div>      
    </div>    

    <!-- footer -->
    <div class="row-fluid">
      <div id="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <!-- /footer -->
    <% yield :disqus_count %>
  </body>
</html>