<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_content' %>
</head>

<body class="padded plain-bg">
<div id="main" role="main">
  <div class="content">
    <%= render 'layouts/navbar' %>
    <div class="inner" id="application-container">
      <div class="row-fluid" id="flash-messages">
        <div class="span12">      
          <%= render 'layouts/messages' %>
        </div><!--end of .span12 -->
      </div><!--end of .row-fluid -->
      <div class="application-body container">
        <%= render 'layouts/application_nav' %>
          <div class="application-row row-fluid">
            <div class="span9">
              <%= yield %>
            </div>
            <div class="span3">
              <%= yield(:sidebar) %>
            </div>
          </div>
      </div><!--end of .container-->
    </div><!--end of .inner -->
    <%= render 'layouts/footer' %>
  </div><!--end of .content> -->
</div><!--end of .main> -->
</body>
</html>