<!DOCTYPE html>
<html ng-app="swibat">
  <head>
    <%= render 'layouts/head_content' %>
  </head>
  <body class="padded">
    <!-- Feedback  Button -->
    <div id="feedback">
      <a href="mailto:feedback@swibat.com">feedback</a>
    </div>
    <!-- /Feedback Button -->

    <!-- navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navbar' %>
        </div>
      </div>
    </div>
    <!-- end navbar -->

    <div id="content">
      <div class="container">
        <div class="row">
          <!-- Flash Messages -->
          <%= render 'layouts/messages' %>
          <!-- /Flash Messages -->

          <div class="span3">
            <%= show_appropriate_sidebar(current_user) %>
            <%= yield(:left_column) %>

          </div>
          <div class="span9">
            <%= yield(:right_column) %>

          </div>
        </div>



      </div> 
    </div>

    <!-- footer -->
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
    <!-- /footer -->
    <% yield :disqus_count %>
  </body>
</html>